{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="site-section bg-light" id="contact-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="text-black h1 site-section-heading">Add Your CLUB </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-12">
                    <form  method="POST" enctype="multipart/form-data" class="p-5 bg-white md-form">
                        {% csrf_token %}
                        <h2 class="h4 text-black mb-5">Form</h2>
                        
                        <p class="text-danger pl-4">{{ form.non_field_errors.as_text }}</p>
                        
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="title">CLUB name</label> 
                                {{ form.name }} 
                            </div>
                            <p class="text-danger pl-4">{{ form.group_name.errors.as_text }}</p>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="message">Description </label> 
                                {{ form.description }} 
                            </div>
                            <p class="text-danger pl-4">{{ form.description.errors.as_text }}</p>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="SUBMIT" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}