{% extends "base.html" %}
{% load static %}

{% block link %} 
    <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
{% endblock link %}

{% block content %}
<h2 class="mb-4">The Recommender </h2>
        <div class="mb-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="box box-aqua">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">To Do List</h3>
                  <div class="box-tools pull-right">
                    <ul id="pagination_1" class="pagination pagination-sm list-inline">
                    {% for i in page_range %}
                      <li class="todo_page page-link" data-val="{{i}}">{{i}}</li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="box-body">
                  <ul class="todo-list ui-sortable" id="task_div">
                    {% for i in first_page %}
                    <li>
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                      <input type="checkbox" value="{{i.id}}" name="{{i.task}}"> <span class="text">{{i.task}}</span>
                      <small class="old_dead badge badge-danger"><i class="fa fa-clock-o"></i> {{i.deadline}}</small>
                      <div class="tools"> 
                        <button class="edit_task_icon btn btn-warning" data-toggle="collapse" data-target="#edit_task" data-val= "{{i.id}}"><i class="fa fa-edit"></i></button>
                        <button class="delete_task btn btn-danger" data-val= "{% url 'deletetask' id=i.id %}"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="box-footer clearfix no-border">
                  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#add_task"><i class="fa fa-plus"></i> Add item</button>
                  <button type="submit" class="btn btn-success" id="completed" style="align:right"> Mark Completed </button>
                </div>
                
              </div>
              <div id="add_task" class="collapse">
                <form method="post" id="addTask" enctype="multipart/form-data" class="needs-validation" novalidate >
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip03">Task</label>
                      <!--<input type="text" class="form-control" id="validationTooltip03" name="input_task" value="" placeholder="What's your task!" required>-->
                      {{form.task}}
                      <div class="invalid-tooltip">
                        Please provide a valid task.
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip04">Deadline</label>
                     <!-- <input type="datetime-local" class="form-control" name="input_deadline" value="" id="validationTooltip04" required>-->
                      {{form.deadline}}
                      <div class="invalid-tooltip">
                        Please provide a valid deadline.
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
                <br>
              </div>
              <div id="edit_task" class="collapse">
                <form method="post" action="{% url 'edittask' %}" id="editTask" enctype="multipart/form-data" class="needs-validation" novalidate >
                  {% csrf_token %}
                  <input type="hidden" class="form-control" id="edited_id" name="edit_id_view" value="" >
                  <div class="form-group col-md-6 mb-3">
                    <label for="edited_task">Edit Task</label>
                    <input type="text" class="form-control" name="edited_task" value="" >
                  </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="edited_time">Edit Deadline</label>
                    <input type="datetime-local" class="form-control" name="edited_time" value="">
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <br>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box box-green">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                  <i class="ion ion-clipboard"></i>
                  <h3 class="box-title">Completed</h3>
                  <div class="box-tools float-right">
                    <ul id="pagination_2" class="pagination pagination-sm list-inline">
                      {% for i in page_range_2 %}
                      <li class="todo_comp_page page-link" data-val="{{i}}">{{i}}</li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="box-body">
                  <ul class="todo-list ui-sortable" id="comp_task_list">
                   <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' /> 
                    {% for i in first_page_2 %}
                    <li>
                      <span class="handle ui-sortable-handle">
                      <i class="fa fa-ellipsis-v"></i>
                      <i class="fa fa-ellipsis-v"></i>
                      </span>
                      <span class="text">{{i.task}}</span>
                      <div class="tools">
                        <button class="delete_comp_task btn btn-secondary" data-val= "{% url 'deletetask' id=i.id %}"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="box-footer clearfix no-border">
                </div>
              </div>
            </div>
          </div>
        </div>
     
{% endblock content %}
{% block script %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>

//****************EDIT TASK FORM ******************//
$(document).ready(function() {
  $('#task_div').on("click",'.edit_task_icon',function(){
      var edit_id=$(this).data('val');
      document.getElementById("edited_id").value = edit_id;
      /*  var old_task    =$(this).parent().parent().document.getElementsByClassName("text");
        console.log(old_task);
        var old_deadline=$(this).parent().parent().find(".old_dead").html;
        document.getElementById("edited_task").setAttribute("value", old_task);
        document.getElementById("edited_time").setAttribute("value", old_deadline);*/
      });
});
//***********************************************//

    var page_n   = 1;
    var page_n_2 = 1;

//************ADD TASK FORM SUBMISSION****************//
$(document).ready(function() {
      $("#addTask").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
         
        $.ajax({
            type: 'POST',
            url: "{% url 'addtask' %}",
            data: serializedData,
           
            success: function (response) {
                var task = JSON.parse(response["task"]);
                var id=JSON.parse(response["id"]);
                var pages=JSON.parse(response["page_range"])
                $('#pagination_1').html('');
                for ( var i = 1; i <= pages; i++) {
                  $("#pagination_1").append(
                      `<li class="todo_page page-link" data-val="`+i+`">`+i+`</li>`
                  );
                }
                if(page_n>=pages)
                {
                  for ( var i = 0; i < task.length; i++) {
                      latestTask = task[i];
                      fields = latestTask['fields']
                      $("#task_div").append(
                        `
                        <li>
                        <span class="handle ui-sortable-handle">
                          <i class="fa fa-ellipsis-v"></i>
                          <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="${id}" name="${fields["task"]}"> <span class="text">${fields["task"]||""}</span>
                        <small class="badge badge-danger"><i class="fa fa-clock-o"></i>${fields["deadline"]||""}</small>
                        <div class="tools"> 
                        <button class="edit_task_icon btn btn-warning" data-toggle="collapse" data-target="#edit_task" data-val= "${id}"><i class="fa fa-edit"></i></button>
                          <button class="delete_task btn btn-danger" data-val="todo/deletetask/${id}"><i class="fa fa-trash-o"></i></button>
                        </div>
                      </li>`
                      )
                  }
               
              }
               $("#addTask")[0].reset();
            },
        });
    });
  });
//***************************************************//

//*****************DELETE TASK************************//
$(document).ready(function() {
  $('#task_div').on("click",'.delete_task',function(){
           var endpoint = $(this).data('val');
           var task     = $(this).parent().parent();
          $.ajax({
              url: endpoint,
              success: function (response) {
                var pages=JSON.parse(response["page_range"])
                $('#pagination_1').html('');
                for ( var i = 1; i <= pages; i++) {
                  $("#pagination_1").append(
                      `<li class="todo_page page-link" data-val="`+i+`">`+i+`</li>`
                  );
                }
                  task.remove();
              },
              error: function (response) {
              }
          });
      });
});

//****************************************************//

//*****************DELETE COMPLETED TASK**************//

$(document).ready(function() {
  $('#comp_task_list').on("click",'.delete_comp_task',function(event){
           var endpoint = $(this).data('val');
           var task     = $(this).parent().parent();
          $.ajax({
              url: endpoint,
              success: function (response) {
                var pages=JSON.parse(response["page_range_2"])
                $('#pagination_2').html('');
                for ( var i = 1; i <= pages; i++) {
                  $("#pagination_2").append(
                      `<li class="todo_comp_page page-link" data-val="`+i+`">`+i+`</li>`
                  );
                }
                  task.remove();
              },
              error: function (response) {
              }
          })
      })
});
//**************************************************//

//*****************MARK COMPLETED TASK**************//
$(document).ready(function() {
  $("#completed").click(function () {
    var id=[];
    var task=[];
    var to_remove=[];
    $(':checkbox:checked').each(function(i){
      id[i]=$(this).val();
      task[i]=$(this).attr('name');
      to_remove[i]=$(this).parent();
    })
    
    if(id.length==0){
      alert("Select items to delete")
    }else{
      console.log(id)
      $.ajax({
        url:"{% url 'markcomplete' %}",
        type: 'GET',
        data: {id},
        success:function(response){
          var pages  =JSON.parse(response["page_range"])
          var pages_2=JSON.parse(response["page_range_2"])
          $('#pagination_1').html('');
          for ( var i = 1; i <= pages; i++) {
            $("#pagination_1").append(
                `<li class="todo_page page-link" data-val="`+i+`">`+i+`</li>`
            );
          }
          $('#pagination_2').html('');
          for ( var i = 1; i <= pages_2; i++) {
            $("#pagination_2").append(
                `<li class="todo_comp_page page-link" data-val="`+i+`">`+i+`</li>`
            );
          }
          for(var i=0;i<id.length;i++){
              to_remove[i].remove();
              if(page_n_2>=pages_2)
              {
                var to_add=`<li>
                        <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">${task[i]}</span>
                        <div class="tools">
                          <button class="delete_comp_task btn btn-secondary" data-val= "todo/deletetask/${id[i]}"><i class="fa fa-trash-o"></i></button>
                        </div>
                      </li>`
                $("#comp_task_list").append(to_add);
              }
          }
        }
      })
    }
  })
});
//**************************************************/

//********************PAGINATION********************/
$(document).ready(function() {
  $('#pagination_1').on("click",'.todo_page',function(event){
      event.preventDefault();
      page_n = $(this).data('val');
      // ajax
          $.ajax({
                  type: "POST",
                  url: "{% url 'index' %}", // name of url
                  data : {    
                  page_n : page_n, //page_number
                  csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function (resp) {
                $('#task_div').html('')
                $.each(resp.results, function(i, val) {
                  $('#task_div').append(
                    `<li>
                        <span class="handle ui-sortable-handle">
                          <i class="fa fa-ellipsis-v"></i>
                          <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="${val.id}" name="${val.task}"> <span class="text">${val.task}</span>
                        <small class="badge badge-danger"><i class="fa fa-clock-o"></i>${val.deadline}</small>
                        <div class="tools"> 
                        <button class="edit_task_icon btn btn-warning" data-toggle="collapse" data-target="#edit_task" data-val= "${val.id}"><i class="fa fa-edit"></i></button>
                          <button class="delete_task btn btn-danger" data-val="todo/deletetask/${val.id}"><i class="fa fa-trash-o"></i></button>
                        </div>
                      </li>`
                  );
                });
              },
          }); 

  });    
});
//**************************************************/

//********************PAGINATION MARK COMPLETED********************/
$(document).ready(function() {
  $('#pagination_2').on("click",'.todo_comp_page',function(event){
      event.preventDefault();
      page_n_2 = $(this).data('val');
          $.ajax({
                  type: "POST",
                  url: "{% url 'index' %}", // name of url
                  data : {    
                  page_n_2 : page_n_2, //page_number
                  csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function (resp) {
                $('#comp_task_list').html('')
                $.each(resp.results_2, function(i, val) {
                  $('#comp_task_list').append(
                    `<li>
                      <span class="handle ui-sortable-handle">
                      <i class="fa fa-ellipsis-v"></i>
                      <i class="fa fa-ellipsis-v"></i>
                      </span>
                      <span class="text">${val.task}</span>
                      <div class="tools">
                        <button class="delete_comp_task btn btn-secondary" data-val= "todo/deletetask/${val.id}"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </li>`
                  );
                });
              },
          }); 

  });    
});
//**************************************************/


    </script>
{% endblock script %}



