{% extends "base.html" %}
{% load static %}
{% block link %}
	<title>Movie Recommendations</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/evt.css' %} " type="text/css">
{% endblock link %}

{% block style %}

	<style>
		.collapsible {
		  background-color: #eee;
		  color: #444;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		}

		.active, .collapsible:hover {
		  background-color: #ccc;
		}

		
		.content {
		  padding: 0 18px;
		  display: none;
		  overflow: hidden;
		  background-color: #f1f1f1;
		}
		
		body {background-color: white;}
		
		.main {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
		}
		
		.item {
			display: flex;
			align-items: center;
			justify-content: center;
			border-style: round;
			border-radius: 25px;
			border: 2px solid #73AD21;
			padding: 20px;
			width: 200px;
			height: 150px;
		} 
	</style>


{% endblock style %}



{% block content %}
	
	<h1>Hello, let's try out this template.</h1>


	<div class="main">
		<img src="#" alt="SomeMovieTitle" type="button"  class="collapsible">
			<div class="content">
			<div class="maincolumn">

			<div class="item">
				<div class="header">
					<img src="#" alt="Movie Poster">
					<h1> Movie Title</h1>
				</div>
			</div>

		</div>
		</div>
	</div>



	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var content = this.nextElementSibling;
		    if (content.style.display === "block") {
		      content.style.display = "none";
		    } else {
		      content.style.display = "block";
		    }
		  });
		}
	</script>

{% endblock content %}
