{% extends "base.html" %}
{% load static %}
{% block link %}
	<title>Movie Recommendations</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/evt.css' %} " type="text/css">
{% endblock link %}

{% block style %}

	<style>
		.collapsible {
		  background-color: #eee;
		  color: #444;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		}

		.active, .collapsible:hover {
		  background-color: #ccc;
		}

		
		.content {
		  padding: 0 18px;
		  display: none;
		  overflow: hidden;
		  background-color: #f1f1f1;
		}
		
		body {background-color: white;}
		
		.mainrow {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: stretch;
					justify-content: flex-start;
		}
		
		.item {
			display: flex;
			align-items: center;
			justify-content: center;
			border-style: round;
			border-radius: 10px;
			border: 2px solid #FFFFFF;
			padding: 2px;
			width: 180px;
			height: 320px;
		} 

		.exp-item {
			display: flex;
			align-items: center;
			justify-content: center;
			border-style: round;
			border-radius: 10px;
			border: 2px solid #000000;
			padding: 2px;
			width: 180px;
			height: 320px;
		} 
	</style>


{% endblock style %}



{% block content %}
	
	<h1>Movie recomendations</h1>


	<div class="mainrow">


		{% for movie in movieInfo %}
	        
			<img src="https://picsum.photos/180/320?random={{ movie.random }}" alt="SomeMovieTitle" type="button"  class="collapsible item">
				<div class="content">
				<div class="maincolumn">

				<div class="exp-item">
					<div class="">
						<p>Name: <h3>{{ movie.name }}</h3></p>
						<p>Director: {{ movie.Director }}</p>
						<p>Rating: {{ movie.rating }}</p>
						<p>Release Date: {{ movie.rel_date }}</p>
						<p>Director: {{ movie.Director }}</p>
						<p>Run Time: {{ movie.length }}</p>
					</div>
				</div>
			</div>
			</div>
	    {% endfor %}
	

		<img src="https://picsum.photos/180/320?random=3" alt="SomeMovieTitle" type="button"  class="collapsible item">
			<div class="content">
			<div class="maincolumn">

			<div class="exp-item">
				<div class="">
					<p>movie detail 1</p>
					<p>movie detail 2</p>
					<p>movie detail 3</p>
				</div>
			</div>

		</div>
		</div>



	</div>



	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var content = this.nextElementSibling;
		    if (content.style.display === "block") {
		      content.style.display = "none";
		    } else {
		      content.style.display = "block";
		    }
		  });
		}
	</script>

{% endblock content %}
