{% extends "base.html" %}
{% load static %}
{% block link %}
	<title>Movie Recommendations</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/evt.css' %} " type="text/css">
{% endblock link %}

{% block style %}
	<style>
		body {background-color: white;}
		
		div.maincolumn {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
		}
		
		div.item {
			display: flex;
			align-items: center;
			justify-content: center;
			border-style: round;
			border-radius: 25px;
			border: 2px solid #73AD21;
			padding: 20px;
			width: 200px;
			height: 150px;
		}
	</style>
{% endblock style %}



{% block content %}
	
	<h1>Hello, let's try out this template.</h1>
	
	<div class="maincolumn">

		<div class="item">
			<h1>Point 1</h1>
		</div>

		<div class="item">
			<h1>Point 2</h1>
		</div>

		<div class="item">
			<h1>Point 3</h1>
		</div>


	</div>

{% endblock content %}
